<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back_link') %>

<div class="subjects new">
<h2>Update Subject</h2>

<%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>

	<%= render(:partial => 'form', :locals => {:f => f}) %>

<div class="form-buttons">
<%= submit_tag("Let's do it!") %>
</div>

<% end %>

</div>